#AXIS_tooltips {
  position: absolute; 
  display: block; 
  background: url(images/tt_left.gif) top left no-repeat;
}

#AXIS_tooltipstop {
  display: block; 
  height: 5px; 
  margin-left: 5px; 
  background: url(images/tt_top.gif) top right no-repeat; 
  overflow: hidden;
}

#AXIS_tooltipscont {
  display: block; 
  padding: 2px 12px 3px 7px; 
  margin-left: 5px; 
  background: #666; 
  color: #FFF; 
  font-size: 12px; 
  font-family: Verdana, Arial; 
  line-height: 16px;
}

#AXIS_tooltipsbot {
  display: block; 
  height: 5px; 
  margin-left: 5px; 
  background: url(images/tt_bottom.gif) top right no-repeat; 
  overflow: hidden;
}